@{
    ViewBag.Title = "Autocomplite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <link href="~/Content/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
    <script>
        $(function () {

            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];
            $("#autocomplete").autocomplete({
                source: availableTags
            });


            // Hover states on the static widgets
            $("#dialog-link, #icons li").hover(
                function () {
                    $(this).addClass("ui-state-hover");
                },
                function () {
                    $(this).removeClass("ui-state-hover");
                }
            );
        });



        $(function () {
            function log(message) {
                $("<div>").text(message).prependTo("#log");
                $("#log").scrollTop(0);
            }
            $("#city").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "http://api.geonames.org/searchJSON?&lang=en&username=demo",
                        dataType: "jsonp",
                        data: {
                            featureClass: "P",
                            style: "full",
                            maxRows: 12,
                            name_startsWith: request.term
                        },
                        success: function (data) {
                            response($.map(data.geonames, function (item) {
                                return {
                                    label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                                    value: item.name
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    log(ui.item ?
                    "Selected: " + ui.item.label :
                    "Nothing selected, input was " + this.value);
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });
        });
    </script>
    <style>
        .ui-autocomplete-loading {
            background: white url('~/Content/ui-anim_basic_16x16.gif') right center no-repeat;
        }

        #city {
            width: 25em;
        }
    </style>
}

<div class="jumbotron">

</div>


<div class="row">
    <div class="col-md-6">
        <h2 class="demoHeaders">Simple example</h2>
        <div>
            <input id="autocomplete" title="type &quot;a&quot;">
        </div>
    </div>


    <div class="col-md-6">
        <h2>Users</h2>
        <div>
            <input type="text" id="user" />
        </div>
    </div>
    <div class="col-md-6" style="margin-top: 50px;">
        <hr />
        <h2>JSONP from API</h2>
        <div class="ui-widget">
            <label for="city">Your city: </label>
            <input id="city">
            Powered by <a href="http://geonames.org">geonames.org</a>
        </div>
        <div class="ui-widget" style="margin-top:2em; font-family:Arial">
            Result:
            <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var autocompleteUrl = '@Url.Action("Find", "AjaxTest")';
        $("input#user").autocomplete({
            source: autocompleteUrl,
            minLength: 2,
            select: function (event, ui) {
                alert("Selected " + ui.item.label);
            }
        });
    });
</script>